/* src/index.css */
.text-gradient {
    background-color: #fff;
    background-image: radial-gradient(at 4% 36%, hsla(0, 0%, 100%, 1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(0, 0, 0) 0, transparent 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.white-glassmorphism {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
:root {
  --bg-light: #f7fafc;
  --bg-dark: #2d3748;
}

.dark {
  --bg-light: #2d3748;
  --bg-dark: #1a202c;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
